:root {
    --bg-header:#2c252e8f;
    --bg-body:#2d2032;
    --bg-inputs:#393e49;
    --bg-aside:#282529;
    --bg-btn:rgb(71, 34, 78);
    color: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-body);
}
.transparent{
    background: transparent;
}


.dark-mode {
    --bg-body: #bba0be;
    --bg-header: #a48ca5;
    --bg-inputs: #bab6ce;
    --bg-aside: #c7b3c8;
    --bg-btn: var(--bg-header);
    color: black;
} 


/*Header*/
header{
    background-color: var(--bg-header);
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.title-header{
    padding:10px 0;
    font-size:2rem;
}
.container-button{
    display:flex;
    gap: 1rem;
}
.icon-txt,.icon-mood, .icon-img{
    width: 15px;
    height: 15px;
    padding-top: 2px ;
}
.container-button button{
    border: none;
    margin: 0 3px 2px 3px;
    font-size: 17px;
    background-color: var(--bg-header);
    cursor: pointer;
    padding: 4px 0;
    border-radius: 15%;
    transition:all .1s;
}
button:hover{
background-color: var(--bg-inputs); /
}
button {
    background-color: #555;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}


/*Main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}
.container-text{
    background-color: white;
    height: 55px;
    display: flex;
    justify-content: center;
    color: black;
    width: 39%;
}

.container-text h5, .container-bottom h5 {
    font-size: 1.7rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container-bottom{
    background-color: white;
    height: 55px;
    display: flex;
    justify-content: center;
    color: black;
    width: 39%;
    font-size: 1.7rem;
}

.container-img{
    width: 39%;
    height: 400px;
    background-color: black;
}
.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-meme{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*General settings Aside */
.container-aside{
    background:var(--bg-aside);
    width: 20%;
    height:100% ;
    display:flex;
    flex-direction:column;
    position: fixed;
    top: 0;
    float: right;
    right: 0;
    font-size: 15px;
    gap: 25px;
    padding: 0 2px;
}
#asideImg{
    display: flex;
    position: fixed;
}
.hidden{
    display: none;
}

.title-aside{
    font-size: 1.1rem;
    text-align: center;
    padding-top: 5px;
}

/* Aside img */

#url-link{
    background-color: var(--bg-inputs);
    width: 100%;
    padding: 4px;
    color: white;
}

.box-aside-bg{
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
}
.title-bg{
    display: block;
    padding: 8px 0;

}
#select-menu{
    background-color: var(--bg-inputs);
    color: white;
    margin-left: 40px;
    height: 25px;
    border-radius: 10%;
    padding: 3px;
    cursor: pointer;
}
.container-ranges label{
    display: block;
    margin: 1px 0;
    font-weight: bolder;
}
.container-ranges input{
    width: 100%;
    padding: 3px;
}
.reset-filters{
    background-color: var(--bg-btn);
    font-size: 15px;
    border-radius: 16%;
    padding: 6px;
    border: none;
    color: white;
    cursor: pointer;
}

/* Aside txt */
.aside-txt{
    display: grid;
    gap: 18px;
}
.box-btn-close{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;

}
.box-btn-close button img{
    cursor: pointer;
    width: 5px;
    width: 15px;
}
.aside-txt textarea{
    background-color: var(--bg-inputs);
    width: 100%;
    border: none;
    margin-top: 3px;
    color: white;
}
.title-aside-text{
    font-size: 1rem;
    text-align: center;
}
/* revisar: */
.box-font-size{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

#select-font{
    width: 100%;
    background-color: var(--bg-inputs);
    color:white;
    cursor: pointer;
}
.box-aside-font{
    display: grid;
    gap: 5px;
}

.icon-align{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.box-font-size label input{
    height: 100%;
    margin: auto;
    width: 70%;
    background-color: var(--bg-inputs);
    color: white;
}
.box-aside-color{
    display: flex;
}
.box-fondo-left{
    display: flex;
    flex-direction:column;
    width: 50%;
}
.title-color{
    width: 100%;
}
.title-bgcolor{
    width: 100%;
}
.box-fondo-right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.box-aside-color input{
    background-color: var(--bg-inputs);
    padding: 2.2px;
    border-radius: 15%;
    border: none;
}
.box-contorno{
    display: flex;
    height: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.box-contorno p{
    width: 100%;
}
.box-contorno button{
    cursor: pointer;
    background-color:var(--bg-inputs);
    border-radius: 18%;
    margin-left: 10px;
    padding: 6px;
    border: none;
    color: white;
}
.box-spacing{
    padding-top: 3px;
}
.box-spacing input, .box-spacing select{
    width: 100%;
    margin: 3px 0;
    height: auto;
    background-color: var(--bg-inputs);
    color: white;
}
input{
    accent-color: var(--bg-btn);
    cursor: pointer;
}
/* Section Footer */
.section-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.download-btn{
    background-color: var(--bg-btn);
    justify-content: center;
    border-radius: 5%;
    font-size: 15px;
    border: 1px solid var(--bg-inputs);
    cursor:pointer;
    margin-top: 20px;
}
.download-btn:hover{
    background-color:rgb(105, 52, 105);
}
.icon-download{
    width: 20px;
    height: 20px;
    padding: 6px 5px 0 0;
}

/* Media Querys */

@media (max-width: 768px) {
    .title-header {
    font-size: 25px;
    }
    .container-meme{
        width: 600px;
    } 
    .container-aside {
    position: relative;
    width: 100%;
    padding: 0px 20px
    }
    .download-btn{
        padding: 5px;
    }
}
